<%-include("partials/header", {page: "Books"})-%>

<div class="card">
    <% bsbooks.forEach(function(book){ %>
                <div class="card-body">
                    <div style = "padding:10px;display:flex;justify-content: flex-start;flex-direction:column">
                    <a href = "/books/<%= book._id %>" class="card-title"><h4 ><%= book.title %></h4></a>
                    <h6 class="card-subtitle mb-2 text-muted" style = "margin-left:10px;margin-top:8px;">-- <%= book.author.first_name %> <%= book.author.last_name %> (<%= book.author.age %>)</h6>
                </div>
                    <p>
                        Published on: <%= book.published.toLocaleDateString() %>
                        <br>
                        Quantity: <%= book.quantity %>  
                    </p>
                    <div>
                    <a href = "/set/<%= book._id %>"><button class="btns" style = "color:white;background-color:green; ">Edit</button></a>
                    <a href = "/delete/<%= book._id %>"><button class="btns" style = "color:white;background-color:red;">Delete</button></a>
                    </div>
                </div>
    <% }) %>
    <% if (bsbooks.length == 0) { %>
        <h3>No Books to display</h3>
    <% } %>

</div>

<%-include("partials/footer")-%>